
.home_banner_area {
    position: relative;
    z-index: 1;
    background-color: #1b2839;
   
    margin-bottom: 200px;
}
.home_banner_area .box_1620 {
    min-height: 700px;
    border-radius: 12px;
    position: relative;
    bottom: -200px;
    background: #fff;
    padding: 30px;
    box-shadow: 0 20px 80px 0 rgb(153 153 153 / 30%);
}
.personal_text{
    margin-top: 50px;
}


.personal_text h6 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    font-weight: normal;
    margin-bottom: 12px;
    color: #222;
}
.personal_text h3 {
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #222;
}
.personal_text h4 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #222;
}
.personal_text p {
    max-width: 540px;
    color: #777;
    margin-bottom: 40px;
}
@media  (min-width: 1199px) {
    .personal_text{
        margin-top: 100px;
    }
  
 }

 .list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.personal_text .basic_info li {
    margin-bottom: 15px;
}
.personal_text .basic_info li a {
    position: relative;
    padding-left: 40px;
    font-size: 16px;
    color: #777;
}
.personal_text .basic_info li a i {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #ffc446;
}
